.app-container {
  .summoner-search-bar {
    width: 400px;
    padding: 50px 0;
    margin: auto;
  }
  .content-wrapper {
    text-align: center;
    .loading-wrapper {
      display: flex;
      justify-content: center;
      padding: 50px 0;
    }
  }
}